.card-container {
  position: absolute;
  border: 1px solid black;
  width: 90%;
  height: 90vh;
  top: 10px;
  right: 15px;
  padding: 10px;

  .close-modal {
    text-align: end;
    padding: 10px;
    cursor: pointer;
  }
}

.modal-container {
  width: 100%;
  height: 100%;
}

.logo-card_container {
  width: 20%;
}

.title-logo_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-chakra {
  width: 100%;
}

.infos-body_container {
  width: 100%;
  display: flex;

  .mantra {
    width: 70%;
  }
  .body-img_container {
    background-color: red;
    width: 30%;
  }
}

h4 {
  margin-top: 20px;
}

.stone-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .img-stone_container {
    width: 30%;

    .img-stone {
      width: 100%;
    }
  }
}
