.card-container {
  position: absolute;

  width: 98%;
  height: 98%;
  top: 1%;
  right: 1%;
  padding: 10px;

  .close-modal {
    text-align: end;
    padding: 10px;
    cursor: pointer;
  }
}

.mantra,
span {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1 {
  position: relative;
  font-family: 'Amatic SC', sans-serif;
  font-size: 5vh;
  color: #7caba0;
}
h1::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 2px; /* Hauteur de la ligne */
  width: 0;
  background-color: var(--line-color, black);
  animation: expandLine 2s forwards; /* Animation pour étendre la ligne */
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.modal-container {
  width: 100%;
  height: 100%;
  color: #7caba0;
}

.logo-card_container {
  width: 20%;
}

.title-logo_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-chakra {
  width: 100%;
}

.infos-body_container {
  width: 100%;
  display: flex;

  .mantra {
    width: 70%;
  }
  .body-img_container {
    width: 30%;
    display: flex;
    align-items: center;
  }
}

h4,
h5 {
  margin-top: 20px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 4vh;
  color: #7caba0;
}

img {
  width: 100%;
}

.stone-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .img-stone_container {
    width: 30%;

    .img-stone {
      width: 100%;
    }
  }
}

.btn-check_container {
  width: 100%;
  display: flex;
  justify-content: center;
  .btn-succes {
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 3px;
    box-shadow: 4px 4px 9px 0px rgba(26, 36, 34, 0.24);
    background-color: #f6f7f7;
    color: #949abf;
    padding: 10px;
    cursor: pointer;
  }
}
