.button_step {
  display: block;
  border-radius: 100%;
  border: none;
  height: 50px;
  width: 50px;
  margin: 0;
  background-color: green;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: all 0.5s;
}

.button_step:hover {
  transform: scale(1.1);
  animation: all 0.5s;
}

.chakras_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.left {
  /* Your code here */
}

.middle {
  /* Your code here */
}

.right {
  /* Your code here */
}

.step-container {
  animation: fadeInAnimation 1s forwards;
}
.fadeIn {
  animation: fadeInAnimation 1s forwards; /* Utilisation de "forwards" pour que l'opacité reste à 1 à la fin de l'animation */
}

.fadeOut {
  animation: fadeOutAnimation 0.2s forwards; /* Utilisation de "forwards" pour que l'opacité reste à 0 à la fin de l'animation */
}

.sound-btn {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  cursor: pointer;
}

.link-stats {
  color: inherit;
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
