.button_step {
  display: block;
  border-radius: 100%;
  border: none;
  height: 50px;
  width: 50px;
  margin: 0;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 4px 4px 10px var(--color);
  z-index: 1;
  transition: transform 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  cursor: pointer;
}

.button_step:hover {
  transform: scale(1.1);
  animation: all 0.5s;
}

.chakras_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.left {
  position: relative;
  left: 70px;
}

.middle {
  position: relative;
}

.right {
  position: relative;
  right: 70px;
}

.step-container {
  animation: fadeInAnimation 1s forwards;
}
.fadeIn {
  animation: fadeInAnimation 1s forwards; /* Utilisation de "forwards" pour que l'opacité reste à 1 à la fin de l'animation */
}

.fadeOut {
  animation: fadeOutAnimation 0.2s forwards; /* Utilisation de "forwards" pour que l'opacité reste à 0 à la fin de l'animation */
}

.sound-btn {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  cursor: pointer;
  opacity: 0.7;
  color: initial;
  margin-top: 40px;
  z-index: 1;

  h6 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
}

.sound-container {
  color: #949abf;
}
.link-stats {
  color: #498073;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
